body {
   background-image: url(../images/starwars.png);
   background-size: 800px 700px;
   background-position: left top;
   background-repeat: no-repeat;
   background-color: black;
}

header {
    font: 24px;
    height: 200px;
}


h1 {
    text-align: center;
    font-size: 52px;
    padding-top: 15px;
    color: rgb(247, 247, 49);
}

h3 {
    text-align: center;
    font-size: 24px;
    padding-top: 15px;
    color: rgb(247, 247, 49);
}

.hangman {
    float: left;
    width: 49.7%;
    color: blue;
    font-size: 120px;
}

.Star_Wars_words {
    float: right;
    width: 50%;
    color: red;
    text-align: center;
    font-size: 60px;
}

.rightGuess {
    clear: both;
    position: relative;
    float: left;
    border: 5px dotted;
    padding: 30px;
    margin-left: 100px;
    top: 180px;
    color: blue;
    text-align: center;
    font-size: 60px;
}

.wrongGuess {
    position: relative;
    float: left;
    border: 5px dotted;
    padding: 30px;
    margin-left: 100px;
    top: 180px;
    color: green;
    text-align: center;
    font-size: 60px;
}